@import "./home.scss";
@import "./colors.scss";
@import "./login.scss";
@import "./register.scss";
@import "./table.scss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Roboto:wght@400;500&display=swap');
@import '~bootstrap/scss/bootstrap';
@import './customDataPickerTheme.scss';
@import "./form.scss";

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#logo {
    height: 40px;
}

.text-danger-container {
    margin-left: 64px;
}