#registerContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

#registerForm {
    background-color: $base-color;
    padding: 20px;
    border-radius: 20px;
}

.registerInput {
    height: 32px;
    border: 0;
    padding: 0 10px 0 10px;
    font-size: 16px;
    border-radius: 16px;
    min-width: 400px;
}

.registerDiv {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.registerIcon {
    height: 32px;
    width: 32px;
}

.registerSubmitContainer {
    display: flex;
    justify-content: center;
}  

#registerSubmit {
    margin-top: 10px;
    border-radius: 16px;
    width: 96px;
    height: 32px;
    border: 0;
}

#registerSubmit:hover {
    transform: scale(1.1);
}

#noAccountButton {
    color: white;
    margin-top: 12px;
}

#userIcon {
    transform: scale(0.7);
  }
  
#emailIcon {
    transform: scale(0.8);
}

#passIcon {
    transform: scale(0.8);
}