@import "./colors.scss";

.actionIcons {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    background-color: $base-color;
    margin: 0;
}

#dataContainer {
    width: 90%;
    margin: 5%;
}

.columnNames {
    text-align: center;
    border: 2px solid $base-color;
    color: $base-color;
}

.rowData {
    text-align: center;
    border: 1px solid $base-color;
    color: $base-color;
}

#editIcons {
    display: flex;
    justify-content: center;
    gap: 4px;
}

#addButtonContainer {
    width: 90%;
}