@import "./colors.scss";

.actionIcons {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    background-color: $base-color;
}


#dataContainer {
    width: 90%;
    margin: 5%;
}

.columnNames {
    text-align: center;
    border: 2px solid $base-color;
    color: $base-color;
}

.rowData {
    text-align: center;
    border: 1px solid $base-color;
    color: $base-color;
}

#editIcons {
    width: 128px;
}